@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/********** FONTS *********/

body
{
	font-family: 'Raleway', sans-serif;
	
}
*
{
	
	list-style: none;
	padding:0;
	margin:0;
	
	
	
}

a
{
	text-decoration:none;
	color: black;
	
}
strong
{
	
	text-decoration: none;
}
em
{
	
	font-style: normal;
}

#body
{
	max-width: 992px;
	width: auto;
	margin: auto;
	
}

/************** BASES ***************/


/*************************** HEADER ****************************/

/**************** LOGO BOOKI ****************/
#logo
{
	width: 100px; height: 50px;
	
	
}

/**************** LOGO BOOKI ****************/

header
{
	display: flex;
	max-width: 992px;
	width: 100%;
	
	flex-direction: row;
	justify-content: flex-end;
	
	
	height: auto;
	
	
	
	
	font-size: 12px;
	
}
header h1
{
	
	display: inline;
}
header h2
{
	font-weight: normal;
}
#h1booki
{
   margin-top: 40px;
   margin-left: 40px;
   margin-bottom: 20px;
   width: 80px;
   
}
nav
{   
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	
	
}
nav ul 
{
	
  height: 120px;
  
  
}
nav ul li
{
	width: 150px;
	text-align: center;
	display: inline-block;
	padding-top: 40px;
	
}
nav ul li:hover
{
  border-top: 2px solid #0065FC ;
}
nav ul li a:hover
{
	color: #0065FC;
}

/**************************** HEADER **********************************/

/************************ TITRE PARAGRAPHE **********************/
#title h2
{
   
   font-weight: bolder ;	
   font-size: 20px;
   margin-bottom: 5px;
   margin-left: 5px;
   
   width: auto;
}


#title p
{
	margin-left: 5px;
	
	width: auto;
}
/************************ TITRE PARAGRAPHE **********************/


/************************ BARRE RECHERCHER **********************/
form p
{ 
	
	width: 460px;
	margin-top: 20px;
	
	margin-left: 5px;
	display: flex;
	
	margin-bottom: 10px;
}
#text
{
	
	font-family: 'Raleway', sans-serif;
	border-top: solid 1px #F2F2F2;
	border-bottom: solid 1px #F2F2F2;
	height: 50px;
	padding-left: 15px;
	padding-right: 50px;
	border-right: hidden;
	border-left: hidden;
	
	
	
}
#text::placeholder
{
	font-weight: bolder;
	font-size: large;
	color: black;
	opacity: 1;
	font-family: 'Raleway', sans-serif;
	
	
	
}
#text[type="search"]:focus
{
	outline: none;
	font-weight: bolder;
	font-size: large;
}
#text[type="search"]
{
	font-size: large;
	font-weight: bolder;
	width: 230px;
	
	
}


#textbutton
{
  color: white;
  padding: 2px;
  
  border: none;
  background-color: #0065FC; 
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  width: 140px;
  
  
  
}
.fa-search
{
    visibility: hidden;
    width: 1px;
}

#localization
{
	font-size: medium;
	background-color: #F2F2F2;
	padding: 15px;
	padding-left: 18px;
	
	border-radius: 15px 0px 0px 15px;
	
	width: 15px;
}
/************************ BARRE RECHERCHER **********************/


/************************ FILTRES *******************************/

#filters
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	
	height: auto;
	width: 100%;
	
	
	margin-left: 10px;
    margin-bottom: 20px;

	font-weight: bold;
	
}
#filters .filters
{
	display: flex;
	align-items: center;
	
	border: solid 2px #f2f2f2 ;
	border-radius: 40px 40px 40px 40px;
	padding-right: 20px;
	user-select: none;
	cursor: pointer;
	margin-top: 20px;
	
	margin-left: 10px;
	
	
}


#filters .filters i
{
	display: flex;
	justify-content: center;
    border-radius: 50%;
	
	background:#DEEBFF;
	color:#0065FC ;
	align-items: center;
	height: 40px;
	width: 40px;
	margin-left: -1px;
	margin-top: -1px;
	margin-right: 10px;
	margin-bottom: -1px;
	
}

#filters li:nth-child(1) /**(Filtres)**/
{
	font-weight: bolder;
	align-self: center;
	width: auto;
	margin-top: 20px;
}
#filters .filters:hover
{
   transform: scale(1.10);
   
}



/************************ FILTRES *******************************/

/************************ info ****************************/
 #info 
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	
}
 #info i
{
 width: auto;
 height: 10px;
 color: #0065FC;
 border: solid #F2F2F2 1px;
 border-radius: 50%;
 padding: 6px 8px 7px 8px;
 
 margin-right: 10px;
 margin-left: 10px;
}


/************************ info ****************************/


/***************************** MAIN **********************************/

/************************* HEBERGEMENTS BLOCKHOUSING ****************************/
#blockhousing
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	margin-top: 20px;
	
    
}
/** STARS **/
.blue
{
	color: #0065FC;
}
.grey
{
	color: lightgray;
}
/***************** HOUSING HEBERGEMENT ******************/
#housing
{
	display: flex;
	
	flex-wrap: wrap;
	flex-direction: row;
	
	justify-content: space-between;
	background-color: #F2F2F2;
	border-radius: 20px;
	
	margin-left: 5px;
	min-width: 600px;
	width: 60%;
	height: 460px;
	padding: 15px;
	margin-bottom: 40px;
	
}
#housing img
{
	width: 180px;
    height: 90px;
	
	
	object-fit:cover;
	
	
	border-radius: 8px 8px 0px 0px;
	
	
	
}
#housing h3
{
   font-size: 15px;
   width: 100%;
   
   
}
#housing article
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
	
	width: 180px;
	height: 160px;
	padding: 4px;
	
	
    box-shadow:2px 2px 10px #e5dddd;
}
#housing article h3
{
	padding-left: 5px;
	padding-top: 5px;

}

#housing article p
{
	font-size: small;
	padding-left: 5px;
	padding-top: 5px;
}


.star_one 
{
	letter-spacing: -1px;
	font-size: small;
	padding-left: 5px;
	padding-top: 5px;
}
#housing h2
{
	height: 10px;
	width: 100%;
	
	margin-top: 5px;
    margin-bottom: 10px;
	font-size: 20px;
	color: black;
	font-weight: bolder;
	
}
#more
{
	
	height: 10px;
	width: 100%;
	
	font-size: 15px;
	align-self: flex-start;
    margin-bottom: 10px;
	color: black;
	font-weight: bolder;
	cursor: pointer;
}
#housing article:hover
{
	transform: scale(1.10);
	
}



/***************** ASIDE LES PLUS POPULAIRES *******************/
#mostpopular
{
	background-color: #F2F2F2;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	width: 340px;
	height: 490px;
	
	
	margin-left: 15px;
}
#mostpopular article img
{
  width: 120px;
  height: 120px;
  border-radius: 15px 0px 0px 15px;
  object-fit:cover;
}
#mostpopular article 
{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: baseline;
   
   background-color: white;
   width: 290px;
   height: 120px;
   border-radius: 20px ;
   box-shadow:2px 2px 10px #e5dddd;
   padding: 5px;
   margin: auto;
}

#mostpopular article:hover
{
	transform: scale(1.10);
}

#mostpopular .star_two 
{
	
	letter-spacing: -1px;
	font-size: small;

}

#mostpopular h2
{   
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 20px;
	color: black;
	font-weight: bolder;
}
#mostpopular h3
{
	width: 50%;
	font-size: 15px;
	padding-top: 5px;
	
}

#mostpopular p
{
	font-size: small;
	margin-top: 5px;
	margin-bottom: 40px;
	
}
.fas.fa-chart-line
{
	font-size: large;
	margin-left: 100px;
	
	
}

/************************* HEBERGEMENTS STAYS ****************************/

/******************* ACTIVITES *****************/

#activities
{
	display:flex;
    flex-direction: row;
	
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	margin-bottom: 30px;
	margin-left: 5px;
	
}
#block_activities_one
{
	display: flex;
	flex-direction: column;
	
	
}
#block_activities_two
{
	display: flex;
	flex-direction: column;
}
#activities article:hover
{
	transform: scale(1.05);
}
#activities h2
{
	width: 100%;
	height: 30px;
	margin-left: 5px;
	margin-bottom: 20px;
	font-size: 20px;
	margin-top: 20px;

}
#activities h3
{
	padding-left: 15px;
	padding-top: 10px;
	font-size: 15px;
}
#activities img
{
	object-fit: cover;
}

/****** FIRST PIC *****/

#article_one
{
	
	margin-right: 20px;
	margin-bottom: 20px;
	height: 350px;
	width: 220px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 10px #F2F2F2;
    
	
}

.card_one
{
	height: 300px;
	width: 220px;
	border-radius: 15px 15px 0px 0px;
	
}

/******** FIRST PIC ********/

/******* SECOND PIC *******/

#article_two
{
	height: 190px;
	width: 220px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 10px #F2F2F2;
	
	margin-bottom: 30px;
    margin-right: 20px;
}

.card_two
{
	height: 150px;
	width: 220px;
	border-radius: 15px 15px 0px 0px;
	
}

/********* SECOND PIC **********/

/************ THIRD PIC **********/
#article_three
{
	height: 130px;
	width: 220px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 10px #F2F2F2;
    
	margin-bottom: 20px;
}

.card_three
{
	height: 90px;
	width: 220px;
	border-radius: 15px 15px 0px 0px;
}


/*********** THIRD PIC *********/

/******* FOURTH PIC *******/

#article_four
{
	margin-right: 20px;
    margin-bottom: 20px;

	height: 350px;
	width: 220px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 10px #F2F2F2;
}

.card_four
{
	height: 300px;
	width: 220px;
	border-radius: 15px 15px 0px 0px;
	
	
}

/********** FOURTH PIC *********/


/********** FIFTH PIC *********/

#article_five
{
	height: 150px;
	width: 240px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 10px #F2F2F2;
	
	margin-bottom: 30px;
	margin-right: 20px;
}

.card_five
{
	height: 110px;
	width: 240px;
	border-radius: 15px 15px 0px 0px;
}

/********** FIFTH PIC **********/


/********** SIXTH PIC *********/

#article_six
{
	height: 170px;
	width: 240px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 10px #F2F2F2;

	margin-bottom: 20px;
}

.card_six
{
	height: 130px;
	width: 240px;
	border-radius: 15px 15px 0px 0px;
}

/********* SIXTH PIC **********/

/******************* ACTIVITES *****************/

/***************************** MAIN **********************************/

/***************************** FOOTER ****************************/
footer
{
	
	
	background-color: #f2f2f2;
	
	height: 250px;
	width: 100%;
	flex-wrap: wrap;
	
}
#footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 70%;
	height: auto;
	margin-left: 20px;
	
    
}

.blockfooter
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	height: 40px;
}
.about
{
	margin-bottom: 20px;
	margin-top: 40px;
}
.ourhousing
{
	margin-bottom: 20px;
}
.assistance
{
	margin-bottom: 20px;
}
footer a:hover
{
	color: #0065FC;
	
}
footer h2 
{
	font-size: 18px;
}
footer a
{
  font-size: 15px;
}


/***************************** FOOTER ****************************/
/**************************** MEDIA QUERIES ********************************/
@media all and (max-width: 991px)
{
	#activities #block_activities_two
    {
		display: flex;
		flex-direction: row;
		

	}
    #housing
	{
		min-width: 600px;
	}
}

@media all and (max-width: 767px)

{
  
#body
{
	  width: auto;
	  margin: unset;
	  max-width: unset;
}

/** HEADER **/

header
{
	display: flex;
    flex-direction: column;
    width: auto;
	height: auto;
    align-items: center;
	justify-content: flex-end;
	max-width: unset;
	width: auto;
	margin-bottom: 20px;
	
}
header nav 
{
	width: auto;
	flex: 1;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

#h1booki 
{
     margin-top: 40px;
     margin-left: 40px; 
     margin-bottom: 0; 
     width: 80px;
}
#logo
{
	width: auto;
	
}
header nav 
{
	width: 100%;
	text-align: center;
}
nav ul 
{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
nav ul li {
    width: 150px;
    text-align: center;
    display: inline-block;
    padding-top: 20px;
	padding-bottom: 5px;
}
header nav ul li
{
	
	width: auto;
	
}
nav ul li:hover 
{
	border-bottom: solid 2px #0065FC;
	border-top: none;
}
nav ul li 
{   
	flex: 1;
	width: 100%;
	border-bottom: 2px solid #F2F2F2 ;
	display: inline-block;
}
/** TITRE **/
#title
{
	margin: auto;
}


/** BARRE RECHERCHER **/
form p 
{
	width: auto;
	
}

#textbutton
{
	width: 50px;
	border-radius: 15px;
	margin-left: -10px;
}
#search
{
	display: none;
}
.fa-search
{
	visibility: visible;
	font-size: 20px;
	width: 20px;
}
/** FILTRES **/

#filters
{
	width: auto;
	min-width: unset;
	flex-wrap: wrap !important;
	flex-direction: row;
	
}
#filters li:nth-child(1) /**(Filtres)**/
{
	width: 100%;
}

/** BLOCK HEBERGEMENT **/
#blockhousing
{
	height: auto;
	width: auto;
	
	flex-wrap: nowrap !important;
	flex-direction: column;
}
/** HEBERGEMENT **/
#housing
{
	order: 2;
	background-color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: auto;
	width: auto;
    margin: auto;

	min-width: unset;
}
#housing h2
{
  width: auto;
}
#housing article
{
	width: 300px;
	height: 180px;

}
#housing img 
{
	width: 300px;
	height: 110px;
}
#more
{
	margin-top: 10px;
}
/** LES PLUS POPULAIRES **/
#mostpopular
{
	width: auto;
	height: auto;
	align-items: unset;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left: 0;
	border-radius: 0;
}
#mostpopular h2 
{
    align-self: unset; 
    display: flex;
    flex-direction: row;
    width: auto; 
    margin: auto;
	padding-left: 0;
	margin-bottom: 15px;
	margin-top: 15px;
}
#mostpopular article
{
	margin-bottom: 15px;
}
/** Activités **/
#activities
{
	width: auto !important;
	height: auto;
    margin: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	
}
#activities h2
{
	width: 300px;
	margin: auto;
	
    
}
#activities article 
{
	margin-bottom: 20px;
}
/*** FIRST PIC ****/
#article_one
{
  width: 300px;
  height: 180px;
  margin: auto;
  
}
.card_one
{
	width: 300px;
	height: 140px;
}
/** SECOND PIC **/
#article_two
{
	width: 300px;
    height: 180px;
	margin: auto;
}

.card_two
{
	width: 300px;
	height: 140px;
	
	
}

/********* SECOND PIC **********/

/************ THIRD PIC **********/
#article_three
{
	width: 300px;
    height: 180px;
	margin: auto;
}

.card_three
{
	width: 300px;
	height: 140px;
	
}


/*********** THIRD PIC *********/

/******* FOURTH PIC *******/

#article_four
{
	
    margin: auto;
	width: 300px;
	height: 180px;
	
	
}

.card_four
{
	width: 300px;
	height: 140px;
	
	
	
}

/********** FOURTH PIC *********/


/********** FIFTH PIC *********/

#article_five
{
	width: 300px;
    height: 180px;
	margin: auto;
	
	
}

.card_five
{
	width: 300px;
	height: 140px;
	
}

/********** FIFTH PIC **********/


/********** SIXTH PIC *********/

#article_six
{
	width: 300px;
	height: 180px;
	margin: auto;
}

.card_six
{
	width: 300px;
	height: 140px;
	
}

/********* SIXTH PIC **********/
#block_activities_one
{
	display: flex;
	flex-direction: column;
	margin: auto;
}
#block_activities_two
{
  display: flex;
  flex-direction: column !important;
  margin: auto;
}
/** FOOTER **/
footer 
{
	height: auto;
	width: auto;
	flex-wrap: nowrap;
}
#footer
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	height: auto;
	width: auto;
	min-width: unset;
}

	

}
	
